* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;

}

.W {
    background-color: lightblue;
    padding: 10px;
    border: solid black 2px;
    display: flex;
}

#wrapper {
    background-color: blue;
}


.new {
    display: flex;
    width: 120px;
    height: 40px;
    background-color: gray;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
}

.row {
display: flex;  

} 

